Week-4-Pandas/movielens/
Week-5-Visualization/world-development-indicators/
Week-8-NLP-Databases/secret_twitter_credentials.pkl

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/